
$main-font-family:Avenir, Helvetica, Arial, sans-serif;

//Couleur
$main-color : #2c3e50;
$primary-color :#6e8614;
$primary-color-light :hsl(73, 74%, 40%);

$secondary-color :#2c3e50;
$tertiary-color : hsl(0, 0%, 90%);
$fourthly-color : hsl(0, 0%, 90%);
$fifthly-color :#E3E3E3;
$black-color : #000000;
$white-color : #ffffff;
$error-color : #ff0000;
$error-light-color : #d8baba;

//breakpoint
$breakpoint-small-device-min: 576px;
$breakpoint-tablet-min: 768px;
$breakpoint-desktop-min: 992px;
$breakpoint-large-min:1200px;


$breakpoint-mobile-max: 575.98px;
$breakpoint-small-device-max: 767.98px;
$breakpoint-tablet-max: 991.98px;
$breakpoint-desktop-max: 1199.98px;
$breakpoint-large-max:1400px;