@import "../../assets/Styles/variables.scss";
@import "../../assets/Styles/mixin.scss";

.navbar {
	display: flex;
	flex-flow: row nowrap;
	gap: 1rem;
	.firstname {
		display: flex;
		flex-flow: row nowrap;
		justify-content: center;
		align-items: center;
		font-weight: bold;
		color: $secondary-color;
		font-size: 1rem;
		svg{
			margin: 0 0.5rem;
		}
	}
	a,
	.MuiButton-root {
		font-weight: bold;
		color: $secondary-color;
		font-size: 1rem;
		text-transform: inherit;
		font-family: $main-font-family;
		text-decoration: none;
		&.router-link-exact-active {
			color: $primary-color;
		}
		.main-nav-item {
			text-decoration: none;
			margin-right: 0.5rem;
		}
		&::hover {
			text-decoration: underline;
		}
	}
}
