@import "../../assets/style/variables.scss";
@import "../../assets/style/mixin.scss";

.gallery {
	display: flex;
	flex-direction: column;
}
@media (min-width: 920px) {
	.gallery {
		flex-direction: row;
	}
}
