@import "../../assets/style/variables.scss";

.errorpage {
	color: $primary-color;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	h1 {
		color: $primary-color;
		font-size: 36rem;
		font-weight: 700;
		margin: 0;
	}
	p {
		font-size: 2.25rem;
		font-size: 4rem;
		margin-bottom: 160px ;
	}
	a {
		font-size: 2.25rem;
		color: $primary-color;

	}
}
