@import "./assets/style/variables.scss";
@import "./assets/style/mixin.scss";

html {
	font-family: Avenir, Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
	color: #2c3e50;
	font-size: 16px;
}
body,
.app {
	margin: 0;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background-color: $fourthly-color;
}

.title {
	display: flex;
	align-items: center;
	justify-content: center;
}
h1 {
	color: $primary-color;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

label {
	display: block;
	margin-top: 1rem;
	margin-bottom: 10px;
}

.address {
	margin-top: 10px;
}
a {
	text-decoration: none;
}

.MuiButton-root, .buttonform {
	margin: 0.5rem;
	background-color: $primary-color;
	padding: 1rem;
	color: $white-color;
	border-radius: 0.5rem;
	text-decoration: none;
	&:hover {
		background-color: $primary-color-light;
	}
}
